nav {
  height: 100px;
  background-color: #D5C2B8;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
nav #logo {
  height: 50px;
  align-self: center;
}
nav #menuIcon {
  border: none;
  background: none;
  font-size: 50px;
  align-self: center;
  width: 50px;
}

#hiddenMenu {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 50px;
  background-color: transparent;
  padding-top: 100px;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
#hiddenMenu.toggle {
  visibility: visible;
  background-color: rgba(168, 186, 194, 0.46);
  padding-top: 0;
  opacity: 1;
  z-index: 2;
}
#hiddenMenu ul {
  list-style: none;
  padding: 0;
}
#hiddenMenu ul li:hover {
  color: white;
  cursor: pointer;
}

.scrollOff {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Co Text", serif;
}

main #banner {
  position: relative;
  height: 700px;
}
main #banner h1 {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  transform: translateY(-50%);
}
main #banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main #whoAreWe {
  background-color: #9EB7AD;
  height: 600px;
  width: 100%;
  position: relative;
  color: white;
}
main #whoAreWe h1 {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  transform: translateY(-20%);
  text-transform: uppercase;
}
main #whoAreWe p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
}
main #help {
  background-color: white;
  color: #9EB7AD;
  height: 600px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: larger;
}
main #help img {
  width: 30px;
  height: 30px;
}
main #help ul {
  text-align: left;
  margin-left: 50px;
}
main #simplify {
  width: 100%;
  height: 200px;
  font-size: 52px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  background-color: #9EB7AD;
  color: white;
  padding-top: 100px;
}
main #features {
  height: 500px;
  color: #9EB7AD;
  text-align: center;
}
main #features h3 {
  font-size: 25px;
}
main #features .panel {
  width: 400px;
  height: 400px;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 20px;
  margin: 10px;
  position: relative;
}
main #features .panel img {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -10%);
}
main #features .panel p {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 300px;
  text-align: center;
  margin: 0;
}
main #toggleButtons {
  height: 200px;
  background-color: #9EB7AD;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
main #toggleButtons button {
  height: max-content;
  font-size: 25px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  background-color: white;
  align-self: center;
}
main #toggleButtons button:hover {
  color: white;
  cursor: pointer;
  background-color: black;
}
main #temperature {
  height: 400px;
  text-align: center;
  color: #54565a;
}
main #temperature div {
  display: flex;
  justify-content: space-evenly;
}
main #temperature div .tempItem {
  display: inline-block;
}
main #temperature div .tempItem img {
  display: block;
  margin: 10px auto;
  width: 30px;
  height: 30px;
}
main #productFeatures {
  height: 500px;
  background-color: #54565a;
  color: white;
  padding-top: 60px;
  position: relative;
}
main #productFeatures h1 {
  width: 100%;
  text-align: center;
  margin: 0;
}
main #productFeatures ul {
  font-size: 21px;
  width: 80%;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main #productFeatures ul li {
  margin: 20px 0;
}
main #techSpec {
  height: 800px;
  padding-top: 50px;
}
main #techSpec h1 {
  margin: 0;
  text-align: center;
}
main #techSpec ul {
  list-style: none;
  text-align: center;
}
main #techSpec ul li {
  margin: 20px 0;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  background-color: #9EB7AD;
  color: white;
}
footer .left {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
footer .right {
  display: inline-block;
  vertical-align: top;
}

#accessibility, #productPlans, #installation {
  visibility: hidden;
  height: 0;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
#accessibility.visibleItem, #productPlans.visibleItem, #installation.visibleItem {
  visibility: visible;
  opacity: 1;
  height: 500px;
}

#installation {
  background-color: #54565a;
  color: white;
  position: relative;
}
#installation h1 {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
}
#installation p {
  text-align: center;
  width: 70%;
  margin: 20px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#accessibility {
  color: #54565a;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
#accessibility h1, #accessibility h3 {
  margin: 0;
  width: 100%;
  text-align: center;
}
#accessibility div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
#accessibility div img {
  width: 200px;
  height: 200px;
}

#productPlans {
  background-color: #A8BAC2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
#productPlans h1, #productPlans p {
  width: 60%;
  margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
