#accessibility, #productPlans, #installation{
  visibility: hidden;
  height: 0;
  transition: .3s ease-in-out;
  opacity: 0;
  &.visibleItem{
    visibility: visible;
    opacity: 1;
    height: 900px;
  }
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}


#installation{
  background-color: $coolGray;
  color: white;
  position: relative;
  h1{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-30%);
    text-align: center;
  }
  p{
    text-align: center;
    width: 70%;
    margin: 20px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
#accessibility{
  color: $coolGray;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  // height: 900px;
  h1,h3{
    margin: 0;
    width: 100%;
    text-align: center;
  }

  div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

#productPlans{
  background-color: $pantoneBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  h1,p{
    width: 60%;
    margin: 0 auto;
  }
}



